/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


#conteneur{width: 700px;
			height:1100px;}



#i6 {
	position:absolute;
		top:30px;
		left:1170px;
		/*Firefox */
		-moz-transition: all 0.5s ease;
		/*Webkit */
		-webkit-transformation: all 0.5s ease;
		/*Opéra*/
		-o-transition: all 0.5s ease;
		/*Standart*/
		transition: all 0.5s ease;}

#i6:hover{
}



#i5{position: 	absolute;
	top:30px;
	left:1070px;
	z-index: 1;
	/*Firefox */
		-moz-transition: all 0.5s ease;
		/*Webkit */
		-webkit-transformation: all 0.5s ease;
		/*Opéra*/
		-o-transition: all 0.5s ease;
		/*Standart*/
		transition: all 0.5s ease;}

#i5:hover{

	z-index: 1}

#i4{position: absolute;
	top:30px;
	left:1000px;
	z-index: 2;
	/*Firefox */
		-moz-transition: all 0.5s ease;
		/*Webkit */
		-webkit-transformation: all 0.5s ease;
		/*Opéra*/
		-o-transition: all 0.5s ease;
		/*Standart*/
		transition: all 0.5s ease;}

#i4:hover{

	z-index: 2}

#i3{position: absolute;
	top:30px;
	left:890px;
	z-index: 3;
/*Firefox */
		-moz-transition: all 0.5s ease;
		/*Webkit */
		-webkit-transformation: all 0.5s ease;
		/*Opéra*/
		-o-transition: all 0.5s ease;
		/*Standart*/
		transition: all 0.5s ease;}

#i3:hover{

	z-index: 3}

#i2{position: absolute;
	top:30px;
	left:880px;
	z-index: 4;
	/*Firefox */
		-moz-transition: all 0.5s ease;
		/*Webkit */
		-webkit-transformation: all 0.5s ease;
		/*Opéra*/
		-o-transition: all 0.5s ease;
		/*Standart*/
		transition: all 0.5s ease;}

#i2:hover{

	z-index: 4}


#i1{position:absolute;
	top:30px;
	left:860px;
	z-index: 5;
		/*Firefox */
		-moz-transition: all 0.5s ease;
		/*Webkit */
		-webkit-transformation: all 0.5s ease;
		/*Opéra*/
		-o-transition: all 0.5s ease;
		/*Standart*/
		transition: all 0.5s ease;}


#i1:hover{
	z-index: 5;}

#p{background-color: #54C0D8;
	height: 50px;
	width: 240px;
	font-size: 40px;
	z-index: 6;
	position:relative;
	top:-800px;
	left: 300px;
	text-decoration: none;
	list-style-type: none;
	text-align: center;
	 border-radius: 2%;
	 box-shadow: 0 0 10px;
	 text-shadow:0 1 3px;
	font-family:  'dubielplainregular'    ;
}

#pf {background-color: #54C0D8;
	height: 50px;
	width: 240px;
	font-size: 40px;
	z-index: 6;
	position:relative;
	top:-800px;
	left: 130px;
	text-decoration: none;
	list-style-type: none;
	text-align: center;
	 border-radius: 2%;
	 box-shadow: 0 0 10px;
	 text-shadow:0 1 3px;
	 font-family:  'dubielplainregular'   ;
}
#pm {background-color: #54C0D8;
	height: 50px;
	width: 240px;
	font-size: 40px;
	z-index: 6;
	position:relative;
	top:-800px;
	left: 220px;
	text-decoration: none;
	list-style-type: none;
	text-align: center;
	 border-radius: 2%;
	 box-shadow: 0 0 10px;
	 text-shadow:0 1 3px;
	font-family: 'dubielplainregular'   ;
}
/*beug*/
a {text-decoration: none;
	color:white;}
/*beug*/
#f{background-color: #54C0D8;
	font-size: 40px;
	z-index: 0;
	position:relative;
	top:-800px;
	left: 330px;
	text-decoration: none;
	list-style-type: none;
	height: 50px;
	width: 240px;
text-align: center;
 border-radius: 2%;
 box-shadow: 0 0 10px;
 text-shadow:0 1 3px;
 font-family: 'dubielplainregular'   ;
}


/* deuxieme apparition*/
/*1 */
.cube1 {z-index: 8;
    margin: 52px;
    position:relative;
    top:-870px;
    left:70px;
    width: 270px;
    height: 30px;
     border-radius: 10%;
}
 


.cube1:hover .cube-titre{
    opacity:1;
}

.cube-titre {
    opacity:0;
    position: absolute;
    bottom: 0px;
    text-align: center;
	font-family: 'capsuularegular'  ;
    left:0px;
    top: 500px;
    height: 100px;
    width: 200px;
    background: black;
     border-radius: 10%;
    color: white;
     -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
         -ms-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
             transition: all 0.2s ease;
}
/*2*/
.cube2 {z-index: 7;
    margin: 52px;
    position:relative;
    top:-870px;
    left:120px;
    width: 270px;
    height: 30px;
     border-radius: 10%;
}
 


.cube2:hover .cube-titre{
    opacity:1;
}

.cube-titre {
    opacity:0;
    position: absolute;
    bottom: 0px;
    text-align: center;
    left:-70px;
    top: 500px;
    height: 100px;
    width: 200px;
    background: black;
    border-radius: 10%;
	font-family: 'capsuularegular'  ;
    color: white;
     -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
         -ms-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
             transition: all 0.2s ease;
}
/*3*/
.cube {z-index: 7;
    margin: 52px;
    position:relative;
    top:-870px;
    left:250px;
    width: 270px;
    height: 30px;
     border-radius: 10%;
}
 


.cube:hover .cube-titre{
    opacity:1;
}

.cube-titre {
    opacity:0;
    position: absolute;
    bottom: 0px;
    text-align: center;
    left:-70px;
    top: 500px;
    height: 100px;
    width: 350px;
    background: black;
    border-radius: 10%;
    font-family: 'capsuularegular'  ;
    color: white;
     -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
         -ms-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
             transition: all 0.2s ease;
}

/*3*/
.cube3 {z-index: 1;
    margin: 52px;
    position:relative;
    top:-870px;
    left:280px;
    width: 270px;
    height: 30px;
     border-radius: 10%;
}
 


.cube3:hover .cube-titre{
    opacity:1;
}

.cube-titre {
    opacity:0;
    position: absolute;
    bottom: 0px;
    text-align: center;
    left:30px;
    top: 500px;
    height: 100px;
    width: 200px;
    background: black;
    border-radius: 10%;
    font-family: 'capsuularegular'  ;
    color: white;
     -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
         -ms-transition: all 0.2s ease;
          -o-transition: all 0.2s ease;
             transition: all 0.2s ease;
}



#i1:hover ~ #r{margin-left: -30%;}

#i2:hover ~ #i1 {
	margin-left: -20%;
}

#i3:hover ~ #i1, 
#i3:hover ~ #i2 {
	margin-left: -20%;
}

#i4:hover ~ #i1,
#i4:hover ~ #i2,
#i4:hover ~ #i3 {
	margin-left: -20%;
}

#i5:hover ~ #i1,
#i5:hover ~ #i2,
#i5:hover ~ #i3,
#i5:hover ~ #i4 {
	margin-left: -20%;
}
 
#i6:hover ~ #i1,
#i6:hover ~ #i2,
#i6:hover ~ #i3,
#i6:hover ~ #i4,
#i6:hover ~ #i5 {
	margin-left: -20%;
}


#p1 {position: fixed;
	height: 100px;
	width: 250px;
	left:100px;
	top:500px;
	font-size: 25px;
	font-family: 'capsuularegular';}


#t6 {color:white;
	font-size: 20px;
	font-family: 'capsuularegular'  ;}
#t5 {color:white;
font-size: 20px;
	font-family: 'capsuularegular'   ;}
#t4 {color:white;
font-size: 20px;
font-family:  'capsuularegular'   ;}
#t3 {color:white;
font-size: 20px;
	font-family:  'capsuularegular'  ;}
#t2 {color:white;
font-size: 20px;
	font-family: 'capsuularegular'   ;}
#t1 {color:white;
font-size: 20px;
	font-family: 'capsuularegular'   ;}


/*-------------Navigation-------------------*/


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family:arial, sans-serif;
	font-weight:normal;
	font-size:12px;
}

nav{position:fixed;
	left:100px;
	top:200px;
	z-index: 8;}

ul {
	list-style:none;
	margin:0; 
	padding:0;
	width:200px;
	margin:0 auto;
	-moz-box-shadow: 0 0 5px #111;
	-webkit-box-shadow: 0 0 5px #111;
	box-shadow: 0 0 5px #111;
}

ul li label {
	background: grey; 
	border-top:1px solid #878e98;
	border-bottom:1px solid #33373d;
	color: #fff;
	text-shadow: 0 1px 1px #000;}


ul li input[type='checkbox'] {
	display: none;
}

ul li label {
	display:block;
	padding:12px;
	width:200px;
}

ul li input[type='checkbox']:checked ~ label {
	background: #44c6eb; /* fallback colour */
	border-top:1px solid #878e98;
	border-bottom:1px solid #2799db;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#44c6eb), to(#2799db));
	background: -webkit-linear-gradient(top, #44c6eb, #2799db);
	background: -moz-linear-gradient(top, #44c6eb, #2799db);
	background: -ms-linear-gradient(top, #44c6eb, #2799db);
	background: -o-linear-gradient(top, #44c6eb, #2799db);
}

ul li input[type='checkbox']:checked ~ .options {
	height: auto;
	display:block;
	min-height:40px;
	max-height:400px;
}

ul ul {
	background:#fff; margin:0; padding:0;}

ul ul li a {
	display:block;
	padding:6px 12px;
	color:#999;
	text-decoration:none;
}


#logo {position:fixed;
		left:150px;
		top:50px;
		height: 12%;
		z-index: 12;}


/*animation du menu*/

.options {
	height: 0;
	display: block;
	overflow: hidden;
}
	




/*================================================================*/


#moi {position: absolute;
	left: 300px;}


/* page 2 */


@font-face {
    font-family: 'aaarghnormal';
    src: url('font/Aaargh-webfont.eot');
    src: url('font/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Aaargh-webfont.woff') format('woff'),
         url('font/Aaargh-webfont.ttf') format('truetype'),
         url('font/Aaargh-webfont.svg#aaarghnormal') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bonvenocflight';
    src: url('font/BonvenoCF-Light-webfont.eot');
    src: url('font/BonvenoCF-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/BonvenoCF-Light-webfont.woff') format('woff'),
         url('font/BonvenoCF-Light-webfont.ttf') format('truetype'),
         url('font/BonvenoCF-Light-webfont.svg#bonvenocflight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'capsuularegular';
    src: url('font/Capsuula-webfont.eot');
    src: url('font/Capsuula-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Capsuula-webfont.woff') format('woff'),
         url('font/Capsuula-webfont.ttf') format('truetype'),
         url('font/Capsuula-webfont.svg#capsuularegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'dubielplainregular';
    src: url('font/Dubiel-webfont.eot');
    src: url('font/Dubiel-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/Dubiel-webfont.woff') format('woff'),
         url('font/Dubiel-webfont.ttf') format('truetype'),
         url('font/Dubiel-webfont.svg#dubielplainregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dubielitalic';
    src: url('font/DubielItalic-webfont.eot');
    src: url('font/DubielItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/DubielItalic-webfont.woff') format('woff'),
         url('font/DubielItalic-webfont.ttf') format('truetype'),
         url('font/DubielItalic-webfont.svg#dubielitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


#titre {font-size: 775%;
		color:white;
		text-align:center;
		margin:-10 0;
		font-family: 'aaarghnormal';}

#tt1 {position: relative;
		left:980px;
		top:1050px;
		font-size: 70px;
		font-family:'dubielplainregular'}

#tt2 {position: relative;
		left:950px;
		top:2200px;
		font-size: 70px;
		font-family:'dubielplainregular'}

#texte1 {position: relative;
		left:800px;
		top:1000px;
		font-size: 20px;
		font-family: 'dubielitalic'; }
#texte2 {position: relative;
		left:800px;
		top:1070px; 
		font-size: 25px;
		font-family: 'capsuularegular';  }


#texte3{position:relative;
		left:800px;
		top:2250px;
		font-size: 25px;
		font-family: 'capsuularegular';  }
#texte4 {position:relative;
		left:850px;
		top:2950px;
		font-size: 70px;
		font-family:'dubielplainregular'}
#a1 {position:fixed;
	height: 50%;
	top:400px;
	left:70px;}

#a2 {position:absolute;
	top:1300px;
	left:650px;
height: 50%;}

#a3 {position:absolute;
	top: 1300px;
	left: 950px;
	height: 60%;}

#a4 {position: absolute;
	top:1300px;
	left:1350px;
	height: 50%;}

#a5 {position: absolute;
	top:1800px;
	left:750px;
	height: 50%;}

#a6 {position: absolute;
	top:1800px;
	left:1200px;
	height: 50%;}

#a7 {position:absolute;
	top:2600px;
	left:700px;
	height: 50%;}

#a8 {position: absolute;
	top:2600px;
	left:970px;
	height:50%;}

#a9 {position:absolute;
	top:2600px;
	left:1400px;
	height: 50%;}

#a10 {position:absolute;
	top:3400px;
	left:750px;
	height: 50%;}
	
#a11 {position:absolute;
	top:3400px;
	left:1000px;
	height: 50%;
	}

#a12 {position:absolute;
		top:3400px;
		left:1400px;
		height: 50%;}

#a13 {position: absolute;
		top:3900px;
		left:1000px;
		height: 50%;}

#a14 {position: absolute;
		top:4400px;
		left:800px;
		height:80%;}


/*page 3*/




#texte5 {position: relative;
		left:850px;
		top:1150px;
		font-size: 20px;
		font-family:'dubielitalic';}
#titre2 {position: relative;
		left:950px;
		top:1200px;
		font-size: 70px;
		font-family:'dubielplainregular' ;
		}
#texte6 {position:relative;
		left:850px;
		top:1270px;
		font-size: 25px;
		font-family: 'capsuularegular'  ;}
#titre3 {position:relative;
		left:1000px;
		top:3000px;
		font-size: 70px;
		font-family:'dubielplainregular' ;}
#texte7 {position: relative;
		left:850px;
		top:3050px;
		font-size: 25px;
		font-family: 'capsuularegular'  ;}
#titre4 {position: relative;
		left:1050px;
		top:5300px;
		font-size: 70px;
		font-family:'dubielplainregular' ;}
#texte8 {position: relative;
		left:850px;
		top:5350px;
	    font-size: 25px;
		font-family: 'capsuularegular'  ;}

#b1 {position:fixed;
	height: 50%;
	top:400px;
	left:70px;}



#b3 {position:absolute;
	top: 1550px;
	left: 550px;
	height: 85%;
}

#b4 {position: absolute;
	top:1550px;
	left:1300px;
	height: 80%;
}

#b6 {position: absolute;
	top:1500px;
	left:850px;
	height: 85%;}




#b8 {position: absolute;
	top:2400px;
	left:600px;
	height:50%;
}

#b9 {position:absolute;
	top:2400px;
	left:800px;
	height: 50%;}

#b10 {position:absolute;
	top:2400px;
	left:1000px;
	height: 50%;
	}
#b11 {position:absolute;
	top:2400px;
	left:1200px;
	height: 50%;
	}

#b12 {position:absolute;
		top:2400px;
		left:1400px;
		height: 50%;
}

#b13 {position: absolute;
		top:2400px;
		left:1600px;
		height: 50%;}

#b14 {position: absolute;
		top:3500px;
		left:850px;

		height:50%;} 

#b15 {position: absolute;
	top:4000px;
	left:500px;
	height: 50%;
}

#b16 {position:absolute;
	top:4000px;
	left:800px;
	height: 50%;
}

#b17 {position: absolute;
	top:4000px;
	left:1100px;
	height:50%;
}

#b18 {position:absolute;
	top:4000px;
	left:1350px;
	height: 50%;}



#b22 {position: absolute;
		top:4500px;
		left:640px;
		height: 50%;}

#b23 {position: absolute;
		top:4500px;
		left:1110px;

		height:50%;} 

#b24 {position: absolute;
		top:5000px;
		left:850px;

		height: 50%;}

#b25 {position: absolute;
		top:6000px;
		left:750px;

		height:120%;} 	



/*page 4*/

#texte9 {position: relative;
		top:1100px;
		left:820px;
		font-size: 25px;
		font-family: 'capsuularegular'  ;}
#c1 {position:fixed;
	height: 50%;
	top:400px;
	left:70px;}

#c2 {position:absolute;
	top:1200px;
	left:600px;
height: 80%;}

#c3 {position:absolute;
	top: 1350px;
	left: 650px;
	height: 80%;}

#c4 {position: absolute;
	top:2200px;
	left:650px;
	height: 35%;}

#c5 {position: absolute;
	top:2200px;
	left:1210px;
	height: 35%;}

#c6 {position: absolute;
	top:2570px;
	left:650px;
	height: 36%;}

#c7 {position:absolute;
	top:2570px;
	left:1210px;
	height: 35%;}

#c8 {position: absolute;
	top:2950px;
	left:950px;
	height:35%;}

#c9 {position:absolute;
	top:3500px;
	left:500px;
	height: 50%;}

#c10 {position:absolute;
	top:3500px;
	left:1200px;
	height: 50%;
	}
#c11 {position:absolute;
	top:4000px;
	left:500px;
	height: 50%;
	}

#c12 {position:absolute;
		top:4000px;
		left:1200px;

		height: 50%;}

/*page 5*/
#texte10 {position: relative;
			top:1000px;
			left:870px;
		    font-size: 25px;
			font-family: 'capsuularegular'  ;}

#d1 {position:fixed;
	height: 50%;
	top:400px;
	left:70px;}

#d2 {position:absolute;
	top:2200px;
	left:550px;
height: 90%;
}

#d3 {position:absolute;
	top: 1200px;
	left: 550px;
	height: 90%;}



#teasercancre {position:absolute;
				top:2500px;
				left:1200px;
				height: 700px;}

/*page6*/


#texte11 {position: relative;
			top:1050px;
			left:850px;
		    font-size: 25px;
		font-family: 'capsuularegular'  ;}

#e1 {position:fixed;
	height: 50%;
	top:400px;
	left:70px;}

#e2 {position:absolute;
	top:1250px;
	left:650px;
height: 50%;
}

#e3 {position:absolute;
	top: 1250px;
	left: 1000px;
	height: 50%;
}
#e4 {position: absolute;
	top:1250px;
	left:1330px;
	height: 50%;}


#w {background-color: black;
	position:absolute;
	left:1100px;
	top:1800px;
	font-size: 50px;
	text-decoration: none;
	color:yellow;
	font-family: 'capsuularegular'  ;
	list-style-type: none;}

/*page7*/

#texte12 {position: relative;
		top:1020px;
		left:1030px;
		font-size: 70px;
		font-family:'dubielplainregular' ;}

#texte13 {position: relative;
		top:1050px;
		left:850px;
		font-size: 25px;
		font-family: 'capsuularegular'  ;}
#texte14 {position:relative;
		top:1050px;
		left:850px;
		font-size: 25px;
		font-family: 'capsuularegular'  ;}
#texte15 {position: relative;
		top:3400px;
		left:850px;
		font-size: 25px;
		font-family: 'capsuularegular'  ;}

#f1 {position:fixed;
	height: 50%;
	top:400px;
	left:70px;}

#f2 {position:absolute;
	top:1300px;
	left:550px;
height: 40%;
}

#f3 {position:absolute;
	top: 1300px;
	left: 1200px;
	height: 40%;
}

#f4 {position: absolute;
	top:1700px;
	left:550px;
	height: 40%;}

#f5 {position: absolute;
	top:1700px;
	left:1200px;
	height: 40%;}

#f6 {position: absolute;
	top:2200px;
	left:575px;
	height: 55%;}

#f7 {position:absolute;
	top:2800px;
	left:775px;
	height: 55%;}

#f8 {position: absolute;
	top:2800px;
	left:1175px;
	height:55%;}

#f9 {position:absolute;
	top:2200px;
	left:1375px;
	height: 55%;}

#f10 {position:absolute;
	top:2200px;
	left:975px;
	height: 55%;
	}
#f11 {position:absolute;
	top:3500px;
	left:550px;
	height: 40%;
	}

#f12 {position:absolute;
		top:3500px;
		left:850px;
		height: 40%;}

#f13 {position: absolute;
		top:3800px;
		left:630px;
		height: 35%;
	/*Firefox */
		-moz-transition: all 1s ease;
		/*Webkit */
		-webkit-transformation: all 1s ease;
		/*Opéra*/
		-o-transition: all 1s ease;
		/*Standart*/
		transition: all 1s ease;}

#f13:hover{z-index: 8;
			height: 70%;}

#f14 {position: absolute;
		top:3800px;
		left:880px;
		height:35%;
		/*Firefox */
		-moz-transition: all 1s ease;
		/*Webkit */
		-webkit-transformation: all 1s ease;
		/*Opéra*/
		-o-transition: all 1s ease;
		/*Standart*/
		transition: all 1s ease;}

#f14:hover{z-index: 8;
			height: 70%;}


#f17-1{position: absolute;
	top:3800px;
	left:1130px;
	height: 35%;
	/*Firefox */
		-moz-transition: all 1s ease;
		/*Webkit */
		-webkit-transformation: all 1s ease;
		/*Opéra*/
		-o-transition: all 1s ease;
		/*Standart*/
		transition: all 1s ease;}

#f17-1:hover{z-index: 8;
			height: 70%;}

#f21-1{position: absolute;
	top:3800px;
	left:1380px;
	height: 35%;
	/*Firefox */
		-moz-transition: all 1s ease;
		/*Webkit */
		-webkit-transformation: all 1s ease;
		/*Opéra*/
		-o-transition: all 1s ease;
		/*Standart*/
		transition: all 1s ease;}

#f21-1:hover{z-index: 8;
			height: 70%;}

#f15 {position: absolute;
	top:4150px;
	left:630px;
	height: 35%;
		/*Firefox */
		-moz-transition: all 1s ease;
		/*Webkit */
		-webkit-transformation: all 1s ease;
		/*Opéra*/
		-o-transition: all 1s ease;
		/*Standart*/
		transition: all 1s ease;}


#f15:hover{z-index: 8;
			height: 70%;}

#f16 {position:absolute;
	top:4150px;
	left:880px;
	height: 35%;
	/*Firefox */
		-moz-transition: all 1s ease;
		/*Webkit */
		-webkit-transformation: all 1s ease;
		/*Opéra*/
		-o-transition: all 1s ease;
		/*Standart*/
		transition: all 1s ease;}


#f16:hover{z-index: 8;
			height: 70%;}

#f17 {position: absolute;
	top:4150px;
	left:1130px;
	height:35%;
		/*Firefox */
		-moz-transition: all 1s ease;
		/*Webkit */
		-webkit-transformation: all 1s ease;
		/*Opéra*/
		-o-transition: all 1s ease;
		/*Standart*/
		transition: all 1s ease;}


#f17:hover{z-index: 8;
			height: 70%;}

#f18 {position:absolute;
	top:4150px;
	left:1380px;
	height: 35%;
	/*Firefox */
		-moz-transition: all 1s ease;
		/*Webkit */
		-webkit-transformation: all 1s ease;
		/*Opéra*/
		-o-transition: all 1s ease;
		/*Standart*/
		transition: all 1s ease;}


#f18:hover{z-index: 8;
			height: 70%;}

#f19 {position:absolute;
	top:4500px;
	left:630px;
	height: 35%;
		/*Firefox */
		-moz-transition: all 1s ease;
		/*Webkit */
		-webkit-transformation: all 1s ease;
		/*Opéra*/
		-o-transition: all 1s ease;
		/*Standart*/
		transition: all 1s ease;}


#f19:hover{z-index: 8;
			height: 70%;}

#f20 {position:absolute;
	top:4500px;
	left:880px;
	height: 35%;
		/*Firefox */
		-moz-transition: all 1s ease;
		/*Webkit */
		-webkit-transformation: all 1s ease;
		/*Opéra*/
		-o-transition: all 1s ease;
		/*Standart*/
		transition: all 1s ease;}


#f20:hover{z-index: 8;
			height: 70%;}

#f21 {position:absolute;
		top:4500px;
		left:1130px;
		height: 35%;
		/*Firefox */
		-moz-transition: all 1s ease;
		/*Webkit */
		-webkit-transformation: all 1s ease;
		/*Opéra*/
		-o-transition: all 1s ease;
		/*Standart*/
		transition: all 1s ease;}


#f21:hover{z-index: 8;
			height: 70%;}

#f22 {position: absolute;
		top:4500px;
		left:1380px;
		height: 35%;
		/*Firefox */
		-moz-transition: all 1s ease;
		/*Webkit */
		-webkit-transformation: all 1s ease;
		/*Opéra*/
		-o-transition: all 1s ease;
		/*Standart*/
		transition: all 1s ease;}


#f22:hover{z-index: 8;
			height: 70%;}

#f23 {position: absolute;
		top:4850px;
		left:630px;
		height:35%;
		/*Firefox */
		-moz-transition: all 1s ease;
		/*Webkit */
		-webkit-transformation: all 1s ease;
		/*Opéra*/
		-o-transition: all 1s ease;
		/*Standart*/
		transition: all 1s ease;} 


#f23:hover{z-index: 8;
			height: 70%;}

#f24 {position: absolute;
		top:4850px;
		left:880px;
		height: 35%;
		/*Firefox */
		-moz-transition: all 1s ease;
		/*Webkit */
		-webkit-transformation: all 1s ease;
		/*Opéra*/
		-o-transition: all 1s ease;
		/*Standart*/
		transition: all 1s ease;}


#f24:hover{z-index: 8;
			height: 70%;}

#f25 {position: absolute;
		top:4850px;
		left:1130px;
		height:35%;
		/*Firefox */
		-moz-transition: all 1s ease;
		/*Webkit */
		-webkit-transformation: all 1s ease;
		/*Opéra*/
		-o-transition: all 1s ease;
		/*Standart*/
		transition: all 1s ease;} 	


#f25:hover{z-index: 8;
			height: 70%;}

#f26 {position:absolute;
		top:4850px;
		left:1380px;
		height: 35%;
		/*Firefox */
		-moz-transition: all 1s ease;
		/*Webkit */
		-webkit-transformation: all 1s ease;
		/*Opéra*/
		-o-transition: all 1s ease;
		/*Standart*/
		transition: all 1s ease;}


#f26:hover{z-index: 8;
			height: 70%;}

#f27{position:absolute;
	top:5500px;
	left:590px;}

#f28{position: absolute;
	top:5500px;
	left:860px;
	}
#f29 {position: absolute;
	top:5500px;
	left:1130px;}

#f30 {position: absolute;
	top:5500px;
	left: 1400px;}

#f31 {position: absolute;
	top:5700px;
	left:590px;}

#f32{position:absolute;
	top:5700px;
	left:860px;}

#f33{position:absolute;
	top:5700px;
	left:1130px;}

#f34 {position: absolute;
	top:5700px;
	left:1400px;}

#f35 {position:absolute;
	top:5900px;
	left:590px;}

#f36 {position: absolute;
	top:5900px;
	left:860px;}

#f37 {position: absolute;
	top:5900px;
	left:1130px;}

#f38 {position: absolute;
	top:5900px;
	left:1400px;}

#f39{position: absolute;
	top:6100px;
	left:590px;}

#f40 {position: absolute;
	top:6100px;
	left:860px;}

#f41 {position: absolute;
	top:6100px;
	left:1130px;}

/*page 8*/

#g2 {position:absolute;
	top:200px;
	left:750px;
	height:120%;
	}

#g1 {position:fixed;
	top:150px;
	left:200px;
	height: 80%;}

/*page9*/

#h1 {position:absolute;
	top:0px;
	left:300px;
	height:200%;
	z-index: -2;
	}
#c2{background-color: black;
	width: 110px;
	height:110px;
	position:relative;
	border-radius: 250px;
	top:-369px;
	left: 969px;
	font-size: 0%;
	/*Firefox */
		-moz-transition: all 1s ease;
		/*Webkit */
		-webkit-transformation: all 1s ease;
		/*Opéra*/
		-o-transition: all 1s ease;
		/*Standart*/
		transition: all 1s ease;}

#c2:hover{width: 500px;
	height: 500px;
	top:-550px;
	left: 740px;
	font-size: 100%;
	font-size: 30px;}

h2{padding-top:170px;
	padding-left:50px;
	padding-right:50px;
	color:white;
	text-align: center;
	font-family: 'capsuularegular'  ;}

#h2{position:fixed;
	top:650px;
	left: 300px;
	height: 30%;}






.parallax{background: url(image/image/taches.jpg) repeat fixed 100%;
			position:absolute;
			left:600px;
			top:120px;}

.parallax-inner{padding-top:25%;
				padding-bottom:25%;
				padding-left: 18%;
				padding-right: 18%;}

.parallax1{background: url(image/image/m1.jpg) repeat fixed 100%;
			position:absolute;
			left:650px;
			top:120px;}

.parallax-inner1{padding-top:25%;
				padding-bottom:25%;
				padding-left: 22%;
				padding-right: 22%;}

.parallax2{background: url(image/image/c1.jpg) repeat fixed 100%;
			position:absolute;
			left:610px;
			top:120px;}

.parallax-inner2{padding-top:25%;
				padding-bottom:25%;
				padding-left: 27%;
				padding-right: 27%;}

.parallax3{background: url(image/image/Estelle2.jpg) repeat fixed 100%;
			position:absolute;
			left:600px;
			top:120px;}

.parallax-inner3{padding-top:25%;
				padding-bottom:25%;
				padding-left: 18%;
				padding-right: 18%;}

.parallax4{background: url(image/image/a3.jpg) repeat fixed 100%;
			position:absolute;
			left:650px;
			top:120px;}

.parallax-inner4{padding-top:25%;
				padding-bottom:25%;
				padding-left: 20%;
				padding-right: 20%;}

.parallax5{background: url(image/image/w2.png) repeat fixed 100%;
			position:absolute;
			left:620px;
			top:120px;}

.parallax-inner5{padding-top:25%;
				padding-bottom:25%;
				padding-left: 22%;
				padding-right: 22%;}

/*svg*/

* {margin: 0; padding: 0}

svg {
	width:1000px;
	height:1000px;

}
polygon {
  opacity: 0;}

#svg {position: absolute;
		left:50px;}


polygon:nth-child(0) {
  -webkit-animation: fade-animation 3s ease forwards 4.20s;
          animation: fade-animation 3s ease forwards 4.20s;}

polygon:nth-child(1) {
  -webkit-animation: fade-animation 3s ease forwards 0.88s;
          animation: fade-animation 3s ease forwards 0.88s;}

polygon:nth-child(2) {
  -webkit-animation: fade-animation 3s ease forwards 1.78s;
          animation: fade-animation 3s ease forwards 1.78s;}
polygon:nth-child(3) {
  -webkit-animation: fade-animation 3s ease forwards 3.28s;
          animation: fade-animation 3s ease forwards 3.28s;}

polygon:nth-child(4) {
  -webkit-animation: fade-animation 3s ease forwards 0.68s;
          animation: fade-animation 3s ease forwards 0.68s;}

polygon:nth-child(5) {
  -webkit-animation: fade-animation 3s ease forwards 4.18s;
          animation: fade-animation 3s ease forwards 4.18s;}

polygon:nth-child(6) {
  -webkit-animation: fade-animation 3s ease forwards 1.08s;
          animation: fade-animation 3s ease forwards 1.08s;}

polygon:nth-child(7) {
  -webkit-animation: fade-animation 3s ease forwards 2.78s;
          animation: fade-animation 3s ease forwards 2.78s;}

polygon:nth-child(8) {
  -webkit-animation: fade-animation 3s ease forwards 0.88s;
          animation: fade-animation 3s ease forwards 0.88s;}

polygon:nth-child(9) {
  -webkit-animation: fade-animation 3s ease forwards 1.78s;
          animation: fade-animation 3s ease forwards 1.78s;}

polygon:nth-child(10) {
  -webkit-animation: fade-animation 3s ease forwards 1.38s;
          animation: fade-animation 3s ease forwards 1.38s;}

polygon:nth-child(11) {
  -webkit-animation: fade-animation 3s ease forwards 1.48s;
          animation: fade-animation 3s ease forwards 1.48s;}

polygon:nth-child(12) {
  -webkit-animation: fade-animation 3s ease forwards 1.58s;
          animation: fade-animation 3s ease forwards 1.58s;}

polygon:nth-child(13) {
  -webkit-animation: fade-animation 3s ease forwards 0.68s;
          animation: fade-animation 3s ease forwards 0.68s;}

polygon:nth-child(14) {
  -webkit-animation: fade-animation 3s ease forwards 0.98s;
          animation: fade-animation 3s ease forwards 0.98s;}

polygon:nth-child(15) {
  -webkit-animation: fade-animation 3s ease forwards 0.58s;
          animation: fade-animation 3s ease forwards 0.58s;}

polygon:nth-child(16) {
  -webkit-animation: fade-animation 3s ease forwards 1.38s;
          animation: fade-animation 3s ease forwards 1.38s;}

polygon:nth-child(17) {
  -webkit-animation: fade-animation 3s ease forwards 1.58s;
          animation: fade-animation 3s ease forwards 1.58s;}

polygon:nth-child(18) {
  -webkit-animation: fade-animation 3s ease forwards 1.78s;
          animation: fade-animation 3s ease forwards 1.78s;}

polygon:nth-child(19) {
  -webkit-animation: fade-animation 3s ease forwards 0.18s;
          animation: fade-animation 3s ease forwards 0.18s;}

polygon:nth-child(20) {
  -webkit-animation: fade-animation 3s ease forwards 0.58s;
          animation: fade-animation 3s ease forwards 0.58s;}

polygon:nth-child(21) {
  -webkit-animation: fade-animation 3s ease forwards 1.78s;
          animation: fade-animation 3s ease forwards 1.78s;}

polygon:nth-child(22) {
  -webkit-animation: fade-animation 3s ease forwards 4.98s;
          animation: fade-animation 3s ease forwards 4.98s;}

polygon:nth-child(23) {
  -webkit-animation: fade-animation 3s ease forwards 1.18s;
          animation: fade-animation 3s ease forwards 1.18s;}

polygon:nth-child(24) {
  -webkit-animation: fade-animation 3s ease forwards 1.78s;
          animation: fade-animation 3s ease forwards 1.78s;}

polygon:nth-child(25) {
  -webkit-animation: fade-animation 3s ease forwards 0.58s;
          animation: fade-animation 3s ease forwards 0.58s;}

polygon:nth-child(26) {
  -webkit-animation: fade-animation 3s ease forwards 0.68s;
          animation: fade-animation 3s ease forwards 0.68s;}

polygon:nth-child(27) {
  -webkit-animation: fade-animation 3s ease forwards 0.78s;
          animation: fade-animation 3s ease forwards 0.78s;}

polygon:nth-child(28) {
  -webkit-animation: fade-animation 3s ease forwards 1.78s;
          animation: fade-animation 3s ease forwards 1.78s;}

polygon:nth-child(29) {
  -webkit-animation: fade-animation 3s ease forwards 1.28s;
          animation: fade-animation 3s ease forwards 1.28s;}

polygon:nth-child(30) {
  -webkit-animation: fade-animation 3s ease forwards 1.38s;
          animation: fade-animation 3s ease forwards 1.38s;}

polygon:nth-child(31) {
  -webkit-animation: fade-animation 3s ease forwards 0.78s;
          animation: fade-animation 3s ease forwards 0.78s;}

polygon:nth-child(32) {
  -webkit-animation: fade-animation 3s ease forwards 0.88s;
          animation: fade-animation 3s ease forwards 0.88s;}

polygon:nth-child(33) {
  -webkit-animation: fade-animation 3s ease forwards 0.98s;
          animation: fade-animation 3s ease forwards 0.98s;}

polygon:nth-child(34) {
  -webkit-animation: fade-animation 3s ease forwards 0.58s;
          animation: fade-animation 3s ease forwards 0.58s;}

polygon:nth-child(35) {
  -webkit-animation: fade-animation 3s ease forwards 1.78s;
          animation: fade-animation 3s ease forwards 1.78s;}

polygon:nth-child(36) {
  -webkit-animation: fade-animation 3s ease forwards 0.28s;
          animation: fade-animation 3s ease forwards 0.28s;}

polygon:nth-child(37) {
  -webkit-animation: fade-animation 3s ease forwards 0.78s;
          animation: fade-animation 3s ease forwards 0.78s;}

polygon:nth-child(38) {
  -webkit-animation: fade-animation 3s ease forwards 0.78s;
          animation: fade-animation 3s ease forwards 0.78s;}

polygon:nth-child(39) {
  -webkit-animation: fade-animation 3s ease forwards 3.18s;
          animation: fade-animation 3s ease forwards 3.18s;}

polygon:nth-child(40) {
  -webkit-animation: fade-animation 3s ease forwards 2.78s;
          animation: fade-animation 3s ease forwards 2.78s;}

polygon:nth-child(41) {
  -webkit-animation: fade-animation 3s ease forwards 1.78s;
          animation: fade-animation 3s ease forwards 1.78s;}

polygon:nth-child(42) {
  -webkit-animation: fade-animation 3s ease forwards 4.18s;
          animation: fade-animation 3s ease forwards 4.18s;}

polygon:nth-child(43) {
  -webkit-animation: fade-animation 3s ease forwards 0.58s;
          animation: fade-animation 3s ease forwards 0.58s;}

polygon:nth-child(44) {
  -webkit-animation: fade-animation 3s ease forwards 2.78s;
          animation: fade-animation 3s ease forwards 2.78s;}

polygon:nth-child(45) {
  -webkit-animation: fade-animation 3s ease forwards 3.18s;
          animation: fade-animation 3s ease forwards 3.18s;}

polygon:nth-child(46) {
  -webkit-animation: fade-animation 3s ease forwards 0.78s;
          animation: fade-animation 3s ease forwards 0.78s;}

polygon:nth-child(47) {
  -webkit-animation: fade-animation 3s ease forwards 0.78s;
          animation: fade-animation 3s ease forwards 0.78s;}

polygon:nth-child(48) {
  -webkit-animation: fade-animation 3s ease forwards 1.58s;
          animation: fade-animation 3s ease forwards 1.58s;}

polygon:nth-child(49) {
  -webkit-animation: fade-animation 3s ease forwards 0.78s;
          animation: fade-animation 3s ease forwards 0.78s;}

polygon:nth-child(50) {
  -webkit-animation: fade-animation 3s ease forwards 0.78s;
          animation: fade-animation 3s ease forwards 0.78s;}

polygon:nth-child(51) {
  -webkit-animation: fade-animation 3s ease forwards 3.18s;
          animation: fade-animation 3s ease forwards 3.18s;}

polygon:nth-child(52) {
  -webkit-animation: fade-animation 3s ease forwards 0.98s;
          animation: fade-animation 3s ease forwards 0.98s;}

polygon:nth-child(53) {
  -webkit-animation: fade-animation 3s ease forwards 2.78s;
          animation: fade-animation 3s ease forwards 2.78s;}

polygon:nth-child(54) {
  -webkit-animation: fade-animation 3s ease forwards 0.78s;
          animation: fade-animation 3s ease forwards 0.78s;}

polygon:nth-child(55) {
  -webkit-animation: fade-animation 3s ease forwards 0.58s;
          animation: fade-animation 3s ease forwards 0.58s;}

polygon:nth-child(56) {
  -webkit-animation: fade-animation 3s ease forwards 1.78s;
          animation: fade-animation 3s ease forwards 1.78s;}

polygon:nth-child(57) {
  -webkit-animation: fade-animation 3s ease forwards 0.78s;
          animation: fade-animation 3s ease forwards 0.78s;}

polygon:nth-child(58) {
  -webkit-animation: fade-animation 3s ease forwards 4.58s;
          animation: fade-animation 3s ease forwards 4.58s;}

polygon:nth-child(59) {
  -webkit-animation: fade-animation 3s ease forwards 4.28s;
          animation: fade-animation 3s ease forwards 4.28s;}

polygon:nth-child(60) {
  -webkit-animation: fade-animation 3s ease forwards 2.78s;
          animation: fade-animation 3s ease forwards 2.78s;}

polygon:nth-child(61) {
  -webkit-animation: fade-animation 3s ease forwards 1.78s;
          animation: fade-animation 3s ease forwards 1.78s;}

polygon:nth-child(62) {
  -webkit-animation: fade-animation 3s ease forwards 0.98s;
          animation: fade-animation 3s ease forwards 0.98s;}

polygon:nth-child(63) {
  -webkit-animation: fade-animation 3s ease forwards 3.18s;
          animation: fade-animation 3s ease forwards 3.18s;}

polygon:nth-child(64) {
  -webkit-animation: fade-animation 3s ease forwards 1.18s;
          animation: fade-animation 3s ease forwards 1.18s;}


polygon:nth-child(65) {
  -webkit-animation: fade-animation 3s ease forwards 0.78s;
          animation: fade-animation 3s ease forwards 0.78s;}

polygon:nth-child(66) {
  -webkit-animation: fade-animation 3s ease forwards 0.98s;
          animation: fade-animation 3s ease forwards 0.98s;}

polygon:nth-child(67) {
  -webkit-animation: fade-animation 3s ease forwards 3.18s;
          animation: fade-animation 3s ease forwards 3.18s;}

polygon:nth-child(68) {
  -webkit-animation: fade-animation 3s ease forwards 2.78s;
          animation: fade-animation 3s ease forwards 2.78s;}

polygon:nth-child(69) {
  -webkit-animation: fade-animation 3s ease forwards 1.78s;
          animation: fade-animation 3s ease forwards 1.78s;}

polygon:nth-child(70) {
  -webkit-animation: fade-animation 3s ease forwards 2.78s;
          animation: fade-animation 3s ease forwards 2.78s;}

polygon:nth-child(71) {
  -webkit-animation: fade-animation 3s ease forwards 3.18s;
          animation: fade-animation 3s ease forwards 3.18s;}

polygon:nth-child(72) {
  -webkit-animation: fade-animation 3s ease forwards 4.58s;
          animation: fade-animation 3s ease forwards 4.58s;}

polygon:nth-child(73) {
  -webkit-animation: fade-animation 3s ease forwards 0.78s;
          animation: fade-animation 3s ease forwards 0.78s;}

polygon:nth-child(74) {
  -webkit-animation: fade-animation 3s ease forwards 0.98s;
          animation: fade-animation 3s ease forwards 0.98s;}

polygon:nth-child(75) {
  -webkit-animation: fade-animation 3s ease forwards 0.78s;
          animation: fade-animation 3s ease forwards 0.78s;}

polygon:nth-child(76) {
  -webkit-animation: fade-animation 3s ease forwards 0.58s;
          animation: fade-animation 3s ease forwards 0.58s;}

polygon:nth-child(77) {
  -webkit-animation: fade-animation 3s ease forwards 2.78s;
          animation: fade-animation 3s ease forwards 2.78s;}

polygon:nth-child(78) {
  -webkit-animation: fade-animation 3s ease forwards 3.18s;
          animation: fade-animation 3s ease forwards 3.18s;}

polygon:nth-child(79) {
  -webkit-animation: fade-animation 3s ease forwards 0.78s;
          animation: fade-animation 3s ease forwards 0.78s;}

polygon:nth-child(80) {
  -webkit-animation: fade-animation 3s ease forwards 0.98s;
          animation: fade-animation 3s ease forwards 0.98s;}

polygon:nth-child(81) {
  -webkit-animation: fade-animation 3s ease forwards 1.78s;
          animation: fade-animation 3s ease forwards 1.78s;}

polygon:nth-child(82) {
  -webkit-animation: fade-animation 3s ease forwards 0.18s;
          animation: fade-animation 3s ease forwards 0.18s;}

polygon:nth-child(83) {
  -webkit-animation: fade-animation 3s ease forwards 4.28s;
          animation: fade-animation 3s ease forwards 4.28s;}

polygon:nth-child(84) {
  -webkit-animation: fade-animation 3s ease forwards 0.38s;
          animation: fade-animation 3s ease forwards 0.38s;}

polygon:nth-child(85) {
  -webkit-animation: fade-animation 3s ease forwards 1.78s;
          animation: fade-animation 3s ease forwards 1.78s;}

polygon:nth-child(86) {
  -webkit-animation: fade-animation 3s ease forwards 4.58s;
          animation: fade-animation 3s ease forwards 4.58s;}

polygon:nth-child(87) {
  -webkit-animation: fade-animation 3s ease forwards 2.78s;
          animation: fade-animation 3s ease forwards 2.78s;}

polygon:nth-child(88) {
  -webkit-animation: fade-animation 3s ease forwards 0.98s;
          animation: fade-animation 3s ease forwards 0.98s;}

polygon:nth-child(89) {
  -webkit-animation: fade-animation 3s ease forwards 1.78s;
          animation: fade-animation 3s ease forwards 1.78s;}

polygon:nth-child(90) {
  -webkit-animation: fade-animation 3s ease forwards 4.18s;
          animation: fade-animation 3s ease forwards 4.18s;}

polygon:nth-child(91) {
  -webkit-animation: fade-animation 3s ease forwards 0.78s;
          animation: fade-animation 3s ease forwards 0.78s;}

polygon:nth-child(92) {
  -webkit-animation: fade-animation 3s ease forwards 0.88s;
          animation: fade-animation 3s ease forwards 0.88s;}

polygon:nth-child(93) {
  -webkit-animation: fade-animation 3s ease forwards 2.78s;
          animation: fade-animation 3s ease forwards 2.78s;}

polygon:nth-child(94) {
  -webkit-animation: fade-animation 3s ease forwards 1.78s;
          animation: fade-animation 3s ease forwards 1.78s;}

polygon:nth-child(95) {
  -webkit-animation: fade-animation 3s ease forwards 3.28s;
          animation: fade-animation 3s ease forwards 3.28s;}

polygon:nth-child(96) {
  -webkit-animation: fade-animation 3s ease forwards 2.78s;
          animation: fade-animation 3s ease forwards 2.78s;}

polygon:nth-child(97) {
  -webkit-animation: fade-animation 3s ease forwards 2.78s;
          animation: fade-animation 3s ease forwards 2.78s;}

polygon:nth-child(98) {
  -webkit-animation: fade-animation 3s ease forwards 0.98s;
          animation: fade-animation 3s ease forwards 0.98s;}

polygon:nth-child(99) {
  -webkit-animation: fade-animation 3s ease forwards 1.78s;
          animation: fade-animation 3s ease forwards 1.78s;}


polygon:nth-child(100) {
  -webkit-animation: fade-animation 3s ease forwards 1.28s;
          animation: fade-animation 3s ease forwards 1.28s;}


polygon:nth-child(101) {
  -webkit-animation: fade-animation 3s ease forwards 4.58s;
          animation: fade-animation 3s ease forwards 4.58s;}

polygon:nth-child(102) {
  -webkit-animation: fade-animation 3s ease forwards 1.58s;
          animation: fade-animation 3s ease forwards 1.58s;}

polygon:nth-child(103) {
  -webkit-animation: fade-animation 3s ease forwards 0.78s;
          animation: fade-animation 3s ease forwards 0.78s;}

polygon:nth-child(104) {
  -webkit-animation: fade-animation 3s ease forwards 3.18s;
          animation: fade-animation 3s ease forwards 3.18s;}

polygon:nth-child(105) {
  -webkit-animation: fade-animation 3s ease forwards 2.78s;
          animation: fade-animation 3s ease forwards 2.78s;}

polygon:nth-child(106) {
  -webkit-animation: fade-animation 3s ease forwards 0.98s;
          animation: fade-animation 3s ease forwards 0.98s;}

polygon:nth-child(107) {
  -webkit-animation: fade-animation 3s ease forwards 1.58s;
          animation: fade-animation 3s ease forwards 1.58s;}

polygon:nth-child(108) {
  -webkit-animation: fade-animation 3s ease forwards 0.88s;
          animation: fade-animation 3s ease forwards 0.88s;}

polygon:nth-child(109) {
  -webkit-animation: fade-animation 3s ease forwards 2.78s;
          animation: fade-animation 3s ease forwards 2.78s;}

polygon:nth-child(110) {
  -webkit-animation: fade-animation 3s ease forwards 0.78s;
          animation: fade-animation 3s ease forwards 0.78s;}

polygon:nth-child(111) {
  -webkit-animation: fade-animation 3s ease forwards 0.78s;
          animation: fade-animation 3s ease forwards 0.78s;}

polygon:nth-child(112) {
  -webkit-animation: fade-animation 3s ease forwards 1.58s;
          animation: fade-animation 3s ease forwards 1.58s;}

polygon:nth-child(113) {
  -webkit-animation: fade-animation 3s ease forwards 2.78s;
          animation: fade-animation 3s ease forwards 2.78s;}

polygon:nth-child(114) {
  -webkit-animation: fade-animation 3s ease forwards 4.78s;
          animation: fade-animation 3s ease forwards 4.78s;}

polygon:nth-child(115) {
  -webkit-animation: fade-animation 3s ease forwards 1.28s;
          animation: fade-animation 3s ease forwards 1.28s;}

polygon:nth-child(116) {
  -webkit-animation: fade-animation 3s ease forwards 0.78s;
          animation: fade-animation 3s ease forwards 0.78s;}

polygon:nth-child(117) {
  -webkit-animation: fade-animation 3s ease forwards 0.98s;
          animation: fade-animation 3s ease forwards 0.98s;}

polygon:nth-child(118) {
  -webkit-animation: fade-animation 3s ease forwards 1.38s;
          animation: fade-animation 3s ease forwards 1.38s;}

polygon:nth-child(119) {
  -webkit-animation: fade-animation 3s ease forwards 1.58s;
          animation: fade-animation 3s ease forwards 1.58s;}

polygon:nth-child(120) {
  -webkit-animation: fade-animation 3s ease forwards 3.00s;
          animation: fade-animation 3s ease forwards 3.00s;}

polygon:nth-child(121) {
  -webkit-animation: fade-animation 3s ease forwards 2.28s;
          animation: fade-animation 3s ease forwards 2.28s;}

polygon:nth-child(122) {
  -webkit-animation: fade-animation 3s ease forwards 4.78s;
          animation: fade-animation 3s ease forwards 4.78s;}

polygon:nth-child(123) {
  -webkit-animation: fade-animation 3s ease forwards 2.78s;
          animation: fade-animation 3s ease forwards 2.78s;}

polygon:nth-child(124) {
  -webkit-animation: fade-animation 3s ease forwards 0.78s;
          animation: fade-animation 3s ease forwards 0.78s;}

polygon:nth-child(125) {
  -webkit-animation: fade-animation 3s ease forwards 2.28s;
          animation: fade-animation 3s ease forwards 2.28s;}

polygon:nth-child(126) {
  -webkit-animation: fade-animation 3s ease forwards 4.58s;
          animation: fade-animation 3s ease forwards 4.58s;}

polygon:nth-child(127) {
  -webkit-animation: fade-animation 3s ease forwards 0.78s;
          animation: fade-animation 3s ease forwards 0.78s;}

polygon:nth-child(128) {
  -webkit-animation: fade-animation 3s ease forwards 0.78s;
          animation: fade-animation 3s ease forwards 0.78s;}

polygon:nth-child(129) {
  -webkit-animation: fade-animation 3s ease forwards 0.28s;
          animation: fade-animation 3s ease forwards 0.28s;}

polygon:nth-child(130) {
  -webkit-animation: fade-animation 3s ease forwards 1.78s;
          animation: fade-animation 3s ease forwards 1.78s;}

polygon:nth-child(131) {
  -webkit-animation: fade-animation 3s ease forwards 4.78s;
          animation: fade-animation 3s ease forwards 4.78s;}

polygon:nth-child(132) {
  -webkit-animation: fade-animation 3s ease forwards 4.58s;
          animation: fade-animation 3s ease forwards 4.58s;}

polygon:nth-child(133) {
  -webkit-animation: fade-animation 3s ease forwards 2.78s;
          animation: fade-animation 3s ease forwards 2.78s;}

polygon:nth-child(134) {
  -webkit-animation: fade-animation 3s ease forwards 0.58s;
          animation: fade-animation 3s ease forwards 0.58s;}

polygon:nth-child(135) {
  -webkit-animation: fade-animation 3s ease forwards 1.78s;
          animation: fade-animation 3s ease forwards 1.78s;}

polygon:nth-child(136) {
  -webkit-animation: fade-animation 3s ease forwards 3.38s;
          animation: fade-animation 3s ease forwards 3.38s;}

polygon:nth-child(137) {
  -webkit-animation: fade-animation 3s ease forwards 1.78s;
          animation: fade-animation 3s ease forwards 1.78s;}

polygon:nth-child(138) {
  -webkit-animation: fade-animation 3s ease forwards 1.58s;
          animation: fade-animation 3s ease forwards 1.58s;}

polygon:nth-child(139) {
  -webkit-animation: fade-animation 3s ease forwards 0.78s;
          animation: fade-animation 3s ease forwards 0.78s;}

polygon:nth-child(140) {
  -webkit-animation: fade-animation 3s ease forwards 3.18s;
          animation: fade-animation 3s ease forwards 3.18s;}

polygon:nth-child(141) {
  -webkit-animation: fade-animation 3s ease forwards 2.38s;
          animation: fade-animation 3s ease forwards 2.38s;}

polygon:nth-child(142) {
  -webkit-animation: fade-animation 3s ease forwards 4.88s;
          animation: fade-animation 3s ease forwards 4.88s;}

polygon:nth-child(143) {
  -webkit-animation: fade-animation 3s ease forwards 1.78s;
          animation: fade-animation 3s ease forwards 1.78s;}

polygon:nth-child(144) {
  -webkit-animation: fade-animation 3s ease forwards 1.28s;
          animation: fade-animation 3s ease forwards 1.28s;}

polygon:nth-child(145) {
  -webkit-animation: fade-animation 3s ease forwards 2.78s;
          animation: fade-animation 3s ease forwards 2.78s;}

polygon:nth-child(146) {
  -webkit-animation: fade-animation 3s ease forwards 1.58s;
          animation: fade-animation 3s ease forwards 1.58s;}

polygon:nth-child(147) {
  -webkit-animation: fade-animation 3s ease forwards 3.58s;
          animation: fade-animation 3s ease forwards 3.58s;}

polygon:nth-child(148) {
  -webkit-animation: fade-animation 3s ease forwards 4.58s;
          animation: fade-animation 3s ease forwards 4.58s;}

polygon:nth-child(149) {
  -webkit-animation: fade-animation 3s ease forwards 1.38s;
          animation: fade-animation 3s ease forwards 1.38s;}


/*animation*/          

@-webkit-keyframes fade-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
