/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






body{background-color: black;}


header{position:relative;
		top:200px;
		left:380px;
		margin-top: 60px}

#conteneur2 {width: 1200px;
			height:1600px;
			margin:auto;}



h1{color: white;
	font-size: 70px;
	font-family:helvetica, sans-serif;
	position:fixed;
	left: 380px}

#i1 {
	width: 50px;
	height: 50px;
	position:relative;
		top:300px;
		left:0px;}

#i2{
	width:100px;
	height: 100px;
	display: inline-block;
	position:relative;
	top:100px;
	left:300px;
}


#r{position:relative;
	top:-200px;
	left:750px;
	font-size: 25px;}

#r a{color:white;
	text-decoration: none;}


#c{position:relative;
	top:-550px;
	left:130px;
	font-size: 25px;}

#c a{color:white;
	text-decoration: none;}




h2{height: 100px;
	width: 300px;
	background-color: white;
	position:relative;
	top:-900px;
	left:470px;
	padding: 10px;
	opacity:0;

		/*Firefox */
		-moz-transition: all 1s ease;
		/*Webkit */
		-webkit-transformation: all 1s ease;
		/*Opéra*/
		-o-transition: all 1s ease;
		/*Standart*/
		transition: all 1s ease;}

h2:hover{opacity:1;}

h3{height: 110px;
	width: 300px;
	background-color: white;
	position:relative;
	top:-800px;
	left:800px;
	padding: 10px;
	opacity:0;

		/*Firefox */
		-moz-transition: all 1s ease;
		/*Webkit */
		-webkit-transformation: all 1s ease;
		/*Opéra*/
		-o-transition: all 1s ease;
		/*Standart*/
		transition: all 1s ease;}

h3:hover{opacity:1;}

h4{height: 150px;
	width: 300px;
	background-color: white;
	position:relative;
	top:-700px;
	left:470px;
	padding: 10px;
	opacity:0;

		/*Firefox */
		-moz-transition: all 1s ease;
		/*Webkit */
		-webkit-transformation: all 1s ease;
		/*Opéra*/
		-o-transition: all 1s ease;
		/*Standart*/
		transition: all 1s ease;}

h4:hover{opacity: 1;}